			</div> {* end of class="content" div *}
		<div class="clL"></div>

		{*<div class="footer">
			<br />
			Flex-N-Gate
		</div>*}
	</body>
</html>
{php}
	$_SESSION["arrFormData"] = null;
	clearFeedback();
{/php}