		<div id="save_menu">
			{*if $blnEngineeringChangeSubmitForApproval && $objEC->getECStatus() == "New"}
				<input type="submit" name="btnSubmitForApproval" value="Save & Submit for Approval" />

				<input type="text" name="txtSubmittedComment" value="{if $objEC->getApprovalProcessInstance()->getSubmittedComment()}{$objEC->getApprovalProcessInstance()->getSubmittedComment()}{else}Submitter comment{/if}" class="submitted_comment" onclick="if(this.value=='Submitter comment') this.value=''" />
			{/if*}
			{$intCurrentProgramCommonID=$objEC->getProgramCommonID()}
			{include file="ec_currently_editing.tpl"}
		</div>
