{include file="header_barebones.tpl"}
<div class="header">
	<br />
	<div class="logo">
		<a href="{$smarty.const.strSITE_URL}"><img src="{$smarty.const.strSITE_URL}images/header_logo.jpg" alt="" /></a>
	</div>
	<h1 class="site_name">
		{$strReportName}
	</h1>
	<div class="clL"></div>
</div>
<div class="clL"></div>

<div class="content report">