<div class="heading">
	<div class="text" style="float:left;"><h2>{$objWFProcess->getWFProcessName()} Process Definition</h2></div>
	<div style="float:right;"><input type="button" value="Close" onclick="popupCancel()" /></div>
	<div class="clL"></div>
</div>

<div class="box">
	{include file="workflow.tpl"}
</div>
<div class="clL"></div>
<br />

<div class="row">
	<input type="button" value="Close" onclick="popupCancel()" />
</div>