BODY {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:100%;
	color:black;
	background-image:none;
}
img {
	border: 0px;
}
fieldset {
	width: 100%;
	margin-top:.7em;
	margin-bottom: .7em;
}
th {
	vertical-align:bottom;
}
td {
	vertical-align:top;
}
.box {
	border: 0px;
    margin-top:.3em;
    box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
}
.filter .label {
	font-weight: bold;
	float:left;
}
.filter .input {
	float:left;
    margin-top: .7em;
}
.listFilter {
	width:100%;
	min-width:100%;
	text-align:right;
}
option:hover {
	color: white;
	background: #b19834;
}
.menuListItem {
    margin-left:2em;
	margin-bottom:.5em;
    font-size:14pt;
}
.menuListItem:hover {
	cursor:pointer;
    text-decoration:underline;
}
#brandWrapper {
	width:100%;
	position:relative;
	text-align:center;
	background: url('../media/bannerBackgoldShort.jpg') bottom repeat-x;
    margin-top:25px;
}
#brandWrapper #brandHead {
	width: 960px;
	height: 65px;
	min-height:65px;
	margin: 0 auto;
	position:relative;
	text-align:left;
}
#brandWrapper #brandHead img {
	position: relative;
    top:-20px;
    box-shadow: 4px 4px 4px #444;
    -moz-box-shadow: 4px 4px 4px #444;
    -webkit-box-shadow: 4px 4px 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#444444');
}
#brandWrapper #brandHead #welcomeRight {
	height:25px;
	text-align:right;
	float:right;
	position:absolute;
    top:0px;
    right: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24pt;
	font-style:italic;
	font-weight:bold;
}
#brandWrapper #brandHead #welcomeLeft {
	height:10px;
	float:left;
	text-align:left;
	position:relative;
	top:13px;
	font-family:Arial, Helvetica, sans-serif;
}
#contentWrapper {
	width:100%;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
    padding-bottom:25pt;
	text-align:center;
	background:#a9a9a9;
	margin-left:0px;
	min-height:400px;
	height: auto !important;
	overflow: visible;
    z-index:0;
}
#contentWrapper #content {
	width: 960px;
	margin: 0px auto;
	background: white;
	padding-left:40px;
	padding-right:40px;
	padding-top:5pt;
	padding-bottom:20pt;
	text-align:left;
    z-index:0;
    min-height: 400px;
}
#contentWrapper #content .contentTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16pt;
	font-style:italic;
	font-weight:bold;
    z-index:0;
}
#contentLegend {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20pt;
	font-style:italic;
	font-weight:bold;
	text-align:left;
	float:left;
	padding:0px;
	margin-top:0px;
	margin-bottom:15pt;
	height:5pt;
    z-index:-1
}
#contentWrapper #content td,th {
	padding-left:8pt;
	padding-right:8pt;
    text-align:left;
	font-family:Arial, Helvetica, sans-serif;

}
#footerWrapper {
	width:100%;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
    background: #a9a9a9;
}
#footerWrapper #footer {
	width: 960px;
	margin: 0px auto;
	padding-bottom:20pt;
	text-align:left;
	padding-left:1px;
	background: url(../media/bot-border.png) repeat-x 0 0;

}
.footerContent {
	padding-left:20px;
	padding-right:20px;
	height:150px;
	min-height:150px;
	border-top:1px solid #537dc4;
}
#divider {
	position:relative;
	background-color:#b19834;
	height:25px;
    -moz-box-shadow: 0px 4px 4px #444;
    -webkit-box-shadow: 4px 4px 4px #444;
	box-shadow: 0px 4px 4px #444;
	margin:0 0;
	padding: 0 0;
    z-index:100;
}
#divider #dividercontent {

}
#registerBlock {
	position:absolute;
	top:2em;
	width:300px;
	clear:both;
	height:2em;
	padding-top:1.5em;
}
#registerBlock button {
	width:10em;
	margin:auto;
}
#simplemodal-overlay {
	background-color: #000000;
	opacity: .4;
}
#simplemodal-container {
	padding:20px;
    border: 1px solid black;
    border-radius: 3px;
	-moz-border-radius 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: white;
}
.warning {
}
.warningEven {
	background: #E4ECED;
}
.even {
	background: #E4ECED;
}
.warn {
	background: url(../media/warn.png) no-repeat left;
}
.error {
	background: url(../media/error.png) no-repeat left;
}
.good {
	background: url(../media/good.png) no-repeat left;
}
.odd {

}
.fieldError {
	background: #ffb3b5;
}
.alignCenter {
	text-align:center;
}
.alignRight {
    text-align:right;
}

tr.tableHeading>th {
	border-bottom:1px solid black;
    empty-cells: show;
}
.buttonLeft {
	float:left;
}
.buttonRight {
	float:right;
}
.loginContainer {
	margin: 20px auto;
	text-align:center;
	width:100%;
	max-width:100%;
}
.loginContent {
	text-align:left;
    width: 300px;
    max-width:300px;
    margin: 0 auto;
}
.loginContainer fieldset {
		padding: 10px 10px;
}
.formHeader {
	width: 95%;
	max-width: 95%;
	font-weight: bold;
	border-bottom:1px solid black;
	margin-bottom:15pt;
}
.formHeaderIndent {
	width: 80%;
	max-width: 80%;
	font-weight: bold;
	border-bottom:1px solid black;
	margin-bottom:15pt;
	margin-top:15pt;
	margin-left:15pt;
	margin-right:15pt;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
	margin-top:10pt;
	margin-right:25pt;
	font-size: 10pt;
	font-weight:bold;
	background-color:#b19834;
	color:white;
	font-variant:small-caps;
	border:1px solid #b19834;
	cursor:pointer;
	height:20px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	margin-right:15pt;
}

td button, td input[type="button"], input[type="reset"] {
	margin-top:0pt;
}
td.actions input[type="button"] {
	margin-top:1pt;
	margin-bottom:1pt;
}
.errorDiv {
	color:red;
	font-weight:bold;
	margin-bottom:10pt;
    border: 1px solid red;
    border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
   -webkit-border-radius: 3px;
    height:50px;
    overflow:auto;
}
.divider {
	width:100%;
	margin-top:15pt;
	margin-bottom:15pt;
}
.navWrapper {
	margin: 0px auto;
	height: 20px;
	width:960px;
	max-width:960px;
	max-height: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-top:0px;
    padding-bottom:0px;
}
.navWrapper .navigation {
	width:9em;
    min-width:9em;
    margin-top:-5px;
	float:right;
	cursor:pointer;
	height:30px;
    max-height:30px;
	padding-left:2px;
	text-align:center;
	text-decoration:none;
	color: white;
	font-weight:bold;
	margin-left:10pt;
    z-index: 150;
    padding-bottom:0px;
    margin-bottom:0px;
    background:url(../media/menuDivider.jpg) bottom left no-repeat;
}
.navText {
	margin-left:1em;
	position:relative;
    top:12px;
}
.navWrapper .navigation .navItem {
	margin-top:.2em;
}
.navWrapper .navigation:hover {
	height:9em;
    text-decoration:underline;
		-webkit-transition: height .25s;
		-moz-transition: height .25s;
		-o-transition: height .25s
}
.navWrapper .navigation .navItem:hover {
	text-decoration:underline;
}
.navWrapper .navContainer {
	position: relative;
	width:10em;
    min-width:10em;
    margin-top:-5px;
	float:right;
	height:30px;
    max-height:30px;
	text-align:center;
	text-decoration:none;
	color: white;
	font-weight:bold;
	margin-left:10pt;
    z-index: 150;
    padding-bottom:0px;
    margin-bottom:0px;
    padding-left:1em;
   background:url(../media/menuDivider.jpg) bottom left no-repeat;
}
.navWrapper .navContainer .navheader {
	position:absolute;
    top:0px;
	left:3px;
	width:11.7em;
    min-width:11.7em;
	cursor:pointer;
	height:20px;
    max-height:20px;
	text-align:center;
	text-decoration:none;
	color: white;
	font-weight:bold;
    z-index: 150;
    padding-bottom:0px;
    margin-bottom:0px;
	margin-top:5px;
 	background-color:#b19834;
	overflow:hidden;
}
.navText {
	height:28px;
	min-height:28px;
    overflow:visible;
}
.navItem {
	margin-bottom: .5em;
	padding-left: 1em;
}
.navItem .navText {
	text-align:left;
    padding-left: 2em;
}
.navWrapper .navContainer .navheader .navItem {
	width:10em;
	min-width:10em;
    height:20px;
    min-height:20px;
	z-index:250;
    margin-top:0px;
}
.navheader .navText {
	margin-top:-5px;
}
.navWrapper .navContainer .navheader:hover {
	height:12em;
	min-height:12em;
	max-height:12em;
		-webkit-transition: height .25s;
		-moz-transition: height .25s;
		-o-transition: height .25s;
    z-index:250;
}
.navWrapper .navContainer .navheader .navItem:hover {
	text-decoration:underline;
}
.sortHdr th {
	cursor:pointer;
}
.clear {
	clear:both;
}
.configFormLabel {
	width:300px;
	vertical-align:top;
}
textarea.formData {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
}
textarea, input, select {
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}
input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;

}
select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
}
legend {
	font-weight:bold;
	font-size:12pt;
}
.legend {
	font-weight:bold;
}
.indent1 {
	padding-left:.25in;
	}
.indent1 img {
	border: 1px solid grey;
}
.listItem {
	text-indent:-.25in;
}
.pageHeading {
	font-size:16pt;
	font-weight:bold;
	text-align:center;
	width:100%;
	max-width:100%;
}
.headingLvl1 {
	font-size:14pt;
	font-weight:bold;
	font-style:italic;
	width:100%;
	max-width:100%;
	border-bottom:1px solid black;
}
.headingLvl2 {
	padding-left:.25in;
	font-size:12pt;
	font-weight:bold;
	text-decoration:underline;
}
.contentLeft {

	background:transparent;
	width:50%;
	max-width:50%;
}
.footerContent h1 {
	font: normal .9em "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #444444;
	margin:23px 10px 10px 20px;
	text-transform: uppercase;
	line-height: 1em;
	background: none;
}
.footerContent h2 {
	margin: 0 0;
	font-size:1.2em;
	line-height:35px; height:35px;
}
.contentRight {
	float:right;
	background:transparent;
	width:50%;
	max-width:50%;
}
#adHocResults {
	max-width:100%;
	max-height:10em;
	border:1px solid black;
	margin-top:10px;
	overflow:auto;
	white-space:nowrap;
}

.helpTitle {

}
.helpContent {

}
.helpLvl1Title {

}
.helpLvl1Content {

}
.helpLvl2Title {

}
.helpLvl2Content {

}
.helpLvl3Title {

}
.helpLvl3.Content {

}
a {
	color:#D00000;
}
h1, h2, h3, h4, h5, h6, h7 {
	font-weight:bold; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #444444;
}
#pageBottom {
	background: url(../media/footer_bg.png) repeat-x 0 0;
	min-height:50px;
	height: auto !important;
	height: 50px;
}
td.maintLabel {
	white-space:nowrap;
}
.dragHandle {
	font-weight:bold;
	padding-left: 1em;
	vertical-align:center;
	height:1.5em;
	max-height:1.5em;
	background-color:#b19834;
	border-bottom:1px solid black;
	margin-bottom:.5em;
	text-align:right;
	padding-right: 1em;
}
.dragHandle:hover {
	cursor:move;
}
#vendorPrompt {
	padding: 0px;
	position: fixed;
    top:250px;
	left: 500px;
    width: 300px;
    max-width: 300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: white;
	z-index:9999;
}

#vendorActionForm {
	padding-left:5px;
	padding-right:5px;
}
#modalOverlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.formContents {
	position:relative;
	width:100%;
	height:500px;
	overflow: auto;
    border: 1px solid black;
    border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
   -webkit-border-radius: 3px;
    margin-top:1em;
    padding: 3px;
}
td.actions button, input[type="button"] {
	margin-top:2px;
	margin-bottom: 2px;
}
td.formOut {
	font-size: 12pt;
}
#popup {
	height: 500px;
	position: absolute;
	background-color: white;
	z-index: 1000;
	border: 1px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	overflow: auto;
}
.editImage {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 5px;
	border: 1px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}
.editImage:hover {
	cursor:pointer;
}
.editImageNoBorder {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 5px;
}
.editImageNoBorder:hover {
	cursor:pointer;
}
.notice {
	font-size:14pt;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:1em;
	text-align:center;
	color:red;
}
.inputnote {
	font-size:8pt;
	width:100%;
}
.formContents {
	position:relative;
}
.ui-autocomplete-loading {
	background:url('../media/loading19.gif') no-repeat right center;
}
#row_CORPTERMS {
	visiblity:hidden;
	color:red;
	font-size: 14pt;
	font-weight:bold;
}
.blacklisted {
	color:red;
	font-weight:bold;
}
.inactive {
	font-style:italic;
	font-weight:bold;
}
#scrollDiv {
	width:100%;
	max-height:200px;
	overflow:auto;
}
.progressContent {
	margin: 0px Auto;
	margin-top: 40px;
	width: 350px;
	position: relative;
	padding: 0px;
}
.progress-bar {
	background-color:white;
	height: 25px;
	padding: 0px;
	width: 350px;
	margin: 0px Auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid black;
}
.progress-bar span {
	display: inline-block;
	height: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}
.gold span {
	background-color: #b19834;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9d081), to(#b19834));
	background-image: -webkit-linear-gradient(left top, #e9d081, #b19834);
	background-image: -moz-linear-gradient(left top, #e9d081, #b19834);
	background-image: -ms-linear-gradient(left top, #e9d081, #b19834);
	background-image: -o-linear-gradient(left top, #e9d081, #b19834);
	background-image: linear-gradient(left top, #e9d081, #b19834);
}
.shine span {
	position: relative;
}
.shine span::after {
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-animation: animate-shine 2s ease-out infinite;
	-moz-animation: animate-shine 2s ease-out infinite;
}
@-webkit-keyframes animate-shine {
	  0% {opacity: 0; width: 0;}
	 50% {opacity: .5;}
	100% {opacity: 0; width: 95%;}
}
@-moz-keyframes animate-shine {
	  0% {opacity: 0; width: 0;}
	 50% {opacity: .5;}
	100% {opacity: 0; width: 95%;}
}
#progressLabel {
	position: absolute; top: 5px; left: 35%;
	font-weight: bold;
	background-image: transparent;
    text-align:center;
}
.popUp {
    border: 1px solid black;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
#cpyVendorPrompt {
	background: white;
 	border:1px solid black;
	width:600px;
	max-width:650px;
	height:160px;
	max-height:160px;
	position:fixed;
	top:160px;
	margin: 0px auto;
	display: none;
	z-index:9999;
}
.divHandle {
	margin-bottom:10pt;
	background: #DCDCCA;
	width: 100%;
	max-width: 100%;
	height: 20pt;
	max-height: 20pt;
	font-size:12pt;
	padding-top:2pt;
}
#cpyVendorPrompt label {
	display:block;
	float:left;
	width:100px;
	min-width:100px;
	max-width:100px;
	font-weight:bold;
}
#cpyVendorPrompt form {
	width:500px;
    max-width:500px;
	margin: 0px auto;
}
#copyButtonDiv {
	width:40%;
	position: absolute;
	top:0;
	right:0;
}
#addressNote {
	width: 12em;
    height: 7em;
    border: 1px solid red;
    font-size: 14pt;
    color:red;
	font-weight: bold;
    padding: 1em;
    position:absolute;
    display:none;
}
tr.delayed {
	background-color: #FCFF80;
	/*background-color: #ff8080;*/
}